
@{
    ViewData["Title"] = "Charts";
}

<h1>Charts</h1>
<div>
    <canvas id="chart1" width="200" height="200"></canvas>
</div>
<div>
    <canvas id="chart2" width="200" height="200"></canvas>
</div>

@section Scripts{
    <script src="~/js/liikennelaskuriCharts.js"></script>
}
